*{
    margin: 0px;
    padding: 0px;
}
.footer{
    width: 100%;
    height: 100vh;
    color: white;   
    background:linear-gradient(rgba(29, 99, 150, 0.699),rgba(14, 59, 92, 0.822),rgba(12, 51, 78, 0.973));  
   
}
.p_htext{
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    margin-top: 14%;
    /* top: 30%; */
    left: 48%;
    transform: translate(-40%,-50%);    
}
.btn_SB{
    position: absolute;
    font-size: 14px;
    /* top: 45%; */
    margin-top: 22%;
    left: 45%;
    transform: translate(-40%,-50%);
    font-weight: 600;
    padding: 16px 30px;
    color: rgb(55, 128, 153);  
    border-radius: 22px;border: solid 1px rgb(121, 119, 119);
    cursor: pointer;
}
.btn_SB:active{    
    animation-duration: 2s;
    scale: 0.90;
    animation-delay: 2s;
  }
.btn_Cont{
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    /* top: 45%; */
    margin-top: 22%;
    left: 57%;
    transform: translate(-40%,-50%);
    padding: 16px 30px;
    color: rgb(56, 140, 168); 
    border-radius: 22px;border: solid 1px rgb(121, 119, 119);
    cursor: pointer;
}
.btn_Cont:active{    
    animation-duration: 2s;
    scale: 0.90;
    animation-delay: 2s;
  }
  .E_email{
    position: absolute;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 16px;
    /* top: 88%; */
    margin-top: 40%;
    color: rgb(199, 197, 197);
    left: 32%;
    transform: translate(-40%,-50%);
  }
  .So_media{
    display: flex;
    position: absolute;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 16px;
    /* top: 88%; */
    margin-top: 40%;
    color: rgb(199, 197, 197);
    left: 58%;
    transform: translate(-40%,-50%);  
    cursor: pointer;
  }
  .be_icon{
    margin-right: 20px;
  }
  .up_icon{
    margin-right: 20px;
  }
  .insta_icon{
    margin-right: 20px;
  }
  .tele_icon{
    margin-right: 20px;
  }
  .wa_icon{
    margin-right: 20px;
  }
  .P_Policy{
    margin-right: 20px;
    color: rgb(114, 113, 113);
    font-size: 11px;
    position: absolute;
    /* top: 92%; */
    margin-top: 14%;
    left: 54%;
    white-space: nowrap;
  }
  .D_DEV{
    margin-right: 20px;
    color: rgb(114, 113, 113);
    font-size: 11px;
    position: absolute;
    /* top: 92%; */
    margin-top: 16%;
    left: 236%;
    white-space: nowrap;
    cursor: auto;
  }
  .de_VEB{
    color: white;
    position: absolute;
    /* top: 88%; */
    margin-top: 40%;
    left: 93%;
    
  }
  a{
    text-decoration: none;
  }