.Result-main{
    width: 76%;
    height: 85vh;
    border: 2px solid white;
    border-radius: 20rem;
    margin-left: 10%;
    display: flex;
}
.Result-t-box{
    color: white;
    margin-top: 18%;
}
.detail-text{
    width: 58%;
    font-size: 20px;
    color: rgb(180, 179, 179);
    text-align: left;
}