*{
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  /* width: 100%; */
  height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1%;
  /* background:linear-gradient(rgba(22, 84, 129, 0.699),rgba(15, 63, 97, 0.747),rgba(19, 57, 85, 0.822),rgba(18, 56, 83, 0.822));   */
  font-size: 20px;  
  text-shadow: 2px 2px 4px #000000;
  /* background-image: url(https://am-arc.com/assets/prj/prj12/p12-1.jpg); */
  /* background-image: url(https://am-arc.com/assets/prj/prj16/p16-1.jpg),url(https://am-arc.com/assets/prj/prj11/p11-1.jpg),url(https://am-arc.com/assets/prj/prj12/p12-1.jpg); */
  /* background-size: cover; */
  /* background-size: contain; */
}
.vedioContainer{
  width: 100%;
  height: 100%;
  position: absolute;  
}
.vedioContainer video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navBar{
  width: 74%;
    display: flex;
    justify-content: space-between;
    /* align-items: center;     */
    color: white;
    padding: 30px 50px;
}
ul{
  display: flex;
  /* gap: 1.5rem; */
}
.navBar{
  color: aliceblue;
  text-decoration: none;
}
li{
  list-style: none;
  margin: 0 1rem;
  text-decoration: none;
}
.nav  {
    color: white;
    text-decoration: none;
    font-size: 1rem;
 }   
  .nav:hover {
    /* background-color: crimson; */
    color: rgb(231, 229, 227);
  }
  .navFixBtn{
    width: 9rem;
    height: 2.1rem;
    border-radius: 20px;
    border: none;
    top: 5%;
    left: 80%;
    position: fixed;
    cursor: pointer;
    padding:10px 5px ;
  }  
  .navFixBtn:hover{
    color: white;
    /* background-color: rgb(74, 171, 204); */
    background:linear-gradient(rgb(45,218,129),rgb(7,174,80)) ;
    font-weight: 500;    
    font-size: 15px;
  }
  .twoLine{
    top: 4%;
    left: 93%;
    position: fixed;
    cursor: pointer;
  }
  .ADV{
    margin-top: 10rem;
  }
  