
.App {
  text-align: center;
  /* background-color: #AC54BC; */
  background-color: rgb(1, 1, 6);
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
